<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Biography Analyzer - IBM Watson</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="css/styles.css" rel="stylesheet">
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="glyphicon glyphicon-cloud-upload"></span>
            <h2>Upload Applications/Letters</h2>
            <h4>You can select multiple files of any language supported by watson</h4>
			<h5>Language of the document is automatically detected and translated | Please input only text files</h5>
            <div class="progress">
              <div class="progress-bar" id="bar1"role="progressbar"></div>
            </div>
            <button class="btn btn-lg upload-btn" type="button">Upload File</button>
			<button class="btn btn-lg next-btn" type="button">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body" id="panel-body1">
           <span><img src="/images/key.png"></span>
            <h2>Enter Keywords</h2>
            <h4>Enter keywords what you are looking in a candidate</h4>
			<h5>You can enter technical as well as emotional keywords like sadness,anger,confident,intellect etc. | For more reference on such keywords :<a href="https://personality-insights-livedemo.mybluemix.net/">Personality Insights</a></h5>
            <label>Technical Keywords : </label><input id="techkeywords" type="text"></input>
			<label>Emotional Keywords : </label><input id="emokeywords" type="text"></input>
			<br></br>
			<button class="btn btn-lg next-btn2" type="button">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
   <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body" id="panel-body2">
            <span><img src="/images/results.jpg"></span>
            <h2>Results</h2>
            <h4>Click on Get Matches button to get Tone,Personality and Match detail</h4>
            <h5>Scroll down after page is loaded to check matches and individual's tone and personality profile</h5>
            <button class="btn btn-lg result-btn" type="button">Get Matches</button>
			 <div id="loading" style="display:none;">
			<span>
			<img src="images/spinner.gif">
			</span>
			</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  


  <div id="tones" style="display:none;">
   <h2>Tone Insights</h2>
   
</br>
<center>
<img src="/images/legend_blue.jpg"></img> Tone Score < 0.5 = Unlikely that attribute is present
</br>
<img src="/images/legend_green.jpg"></img> Tone Score > 0.5 = Likely that attribute is present
</br>
<img src="/images/legend_red.jpg"></img> Tone Score > 0.75 = Very Likely that attribute is present
 </br>
  Hover over Tones to get tone score
 </center>
   <div  id="emotional" ></div>
  <div  id="language" ></div>
  <div id="social" ></div>
 
  </div>
  
 
  <br></br>
  <br></br>
  <br></br>
   <div id="persona" style="display:none;">
   <h2>Personality Insights</h2>
   </br>
<center>
<img src="/images/legend_blue.jpg"></img> Personality Score < 0.5 = Unlikely that attribute is present
</br>
<img src="/images/legend_green.jpg"></img> Personality Score > 0.5 = Likely that attribute is present
</br>
<img src="/images/legend_red.jpg"></img> Personality Score > 0.75 = Very Likely that attribute is present
 </br>
 Hover over Personality traits to get personality score
 <center>
   <div class="graph" id="personality" ></div>
  <div class="graph" id="needs" ></div>
  <div class="graph" id="values" ></div>
  
  </div>
  
  
  <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
  
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="javascripts/upload.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
</body>
</html>